#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

Parties:
{% for orderer_group_id, orderer_group in armageddon_orderer_instances.items() %}
  - PartyID: {{ orderer_group_id }}
    CACerts:
{% for orderer_organization_domain in orderer_group.organizations %}
      - {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_organization_domain }}/msp/cacerts/ca.{{ orderer_organization_domain }}-cert.pem
{% endfor %}
    TLSCACerts:
{% for orderer_organization_domain in orderer_group.organizations %}
      - {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_organization_domain }}/msp/tlscacerts/tlsca.{{ orderer_organization_domain }}-cert.pem
{% endfor %}
    RouterConfig:
      TLSCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_group.router.organization.domain }}/orderers/{{ orderer_group.router.organization.orderer.name | default(orderer_group.router.inventory_hostname) }}.{{ orderer_group.router.organization.domain }}/tls/server.crt
      Host: {{ orderer_group.router.ansible_host }}
      Port: {{ orderer_group.router.orderer_rpc_port}}
    BatchersConfig:
{% for orderer_batcher in orderer_group.batchers %}
      - ShardID: {{ orderer_batcher.orderer_shard_id}}
        SignCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_batcher.organization.domain }}/orderers/{{ orderer_batcher.organization.orderer.name | default(orderer_batcher.inventory_hostname) }}.{{ orderer_batcher.organization.domain }}/msp/signcerts/{{ orderer_batcher.organization.orderer.name | default(orderer_batcher.inventory_hostname) }}.{{ orderer_batcher.organization.domain }}-cert.pem
        TLSCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_batcher.organization.domain }}/orderers/{{ orderer_batcher.organization.orderer.name | default(orderer_batcher.inventory_hostname) }}.{{ orderer_batcher.organization.domain }}/tls/server.crt
        Host: {{ orderer_batcher.ansible_host }}
        Port: {{ orderer_batcher.orderer_rpc_port }}
{% endfor %}
    ConsenterConfig:
      SignCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_group.consensus.organization.domain }}/orderers/{{ orderer_group.consensus.organization.orderer.name | default(orderer_group.consensus.inventory_hostname) }}.{{ orderer_group.consensus.organization.domain }}/msp/signcerts/{{ orderer_group.consensus.organization.orderer.name | default(orderer_group.consensus.inventory_hostname) }}.{{ orderer_group.consensus.organization.domain }}-cert.pem
      TLSCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_group.consensus.organization.domain }}/orderers/{{ orderer_group.consensus.organization.orderer.name | default(orderer_group.consensus.inventory_hostname) }}.{{ orderer_group.consensus.organization.domain }}/tls/server.crt
      Host: {{ orderer_group.consensus.ansible_host }}
      Port: {{ orderer_group.consensus.orderer_rpc_port}}
    AssemblerConfig:
      TLSCert: {{ cryptogen_artifacts_dir }}/crypto/ordererOrganizations/{{ orderer_group.assembler.organization.domain}}/orderers/{{ orderer_group.assembler.organization.orderer.name | default(orderer_group.assembler.inventory_hostname) }}.{{ orderer_group.assembler.organization.domain}}/tls/server.crt
      Host: {{ orderer_group.assembler.ansible_host }}
      Port: {{ orderer_group.assembler.orderer_rpc_port}}
{% endfor %}
Consensus:
    SmartBFT:
        selfid: 0
        requestbatchmaxcount: 100
        requestbatchmaxbytes: 10485760
        requestbatchmaxinterval: 500ms
        incomingmessagebuffersize: 200
        requestpoolsize: 400
        requestforwardtimeout: 10s
        requestcomplaintimeout: 20s
        requestautoremovetimeout: 3m0s
        viewchangeresendinterval: 5s
        viewchangetimeout: 20s
        leaderheartbeattimeout: 1m0s
        leaderheartbeatcount: 10
        numofticksbehindbeforesyncing: 10
        collecttimeout: 1s
        synconstart: false
        speedupviewchange: false
        leaderrotation: false
        decisionsperleader: 0
        requestmaxbytes: 1048576
        requestpoolsubmittimeout: 5s
Batching:
    BatchTimeouts:
        BatchCreationTimeout: 500ms
        FirstStrikeThreshold: 10s
        SecondStrikeThreshold: 10s
        AutoRemoveTimeout: 10s
    BatchSize:
        MaxMessageCount: {{ armageddon_batch_max_message_count | default(10000) }}
        AbsoluteMaxBytes: 10485760
    RequestMaxBytes: 1048576